---
import FormLayout
 from "../layouts/formLayout.astro"
import InputText from "../components/inputText.astro" 
 
---
<FormLayout >
 	<h2 slot="subtitulo">ingrese informacion</h2>

 	<InputText etiqueta = "nombre completo"
	slot="caja-texto-nombre" />
	<InputText etiqueta = "apellido completo"
	 slot="caja-texto-apellido"/>
	<InputText etiqueta = "correo electronico"
	 slot= "caja-texto-email"/>
</FormLayout>
