---
interface Props {
    etiqueta: string;
  
}


const {etiqueta} = Astro.props;
---
<label>{etiqueta}</label>
<select>
      <option>cali </option> 
      <option>bogota</option>  
      <option>medellin</option>  
</select>
 
 

