---
interface Props {
    etiqueta: string;
  
}


const {etiqueta} = Astro.props;
---
<label>{etiqueta}</label>
<select>
      <option id="cali">cali</option> =
      <option id="bogota">bogota</option>  
      <option id="medellin">medellin</option>
</select>
 
 <style>
    #cali{
        color: rgb(79, 6, 173);
       
    }
    #bogota{
        color: blue;
    }
    #medellin{
        color: burlywood;
    }
    select{
        border: 2px brown dotted;


    
    




 </style>

